.item {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: white;
  }
  
.item:hover {
transform: translateY(-10px);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.item img {
    max-width: 100px;
    border-radius: 10px;
    margin: 0 auto; /* Center the image */
    display: block; /* Ensure the image is treated as a block-level element */
}

.header3 {
font-size: 1.1rem;
margin: 10px 0;
color: #333;
}

.item p {
font-size: 0.9rem;
color: #666;
}

.itemGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Fixed 3 columns */
    gap: 20px;
    padding: 20px;
  }
  

.item button {
background-color: var(--theme-orange);
border: none;
color: white;
padding: 10px 15px;
margin-top: 10px;
cursor: pointer;
border-radius: 5px;
transition: background-color 0.2s ease;
}

.item button:hover {
background-color: #e68a00;
}
  
/* Search Bar */
.searchBar {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background: linear-gradient(to right, var(--theme-purple), #ffffff 50%, #ffffff 50%, var(--theme-purple));
  }
  
  .searchInput {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    width: 600px;
    color: black;
  }
  
  .searchButton {
    background-color: var(--theme-orange);
    border: none;
    color: white;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .searchButton:hover {
    background-color: var(--theme-purple);
  }
  
  .mediaSelect {
  margin-left: 10px;
  padding: 10px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
}

.searchInput {
  width: 250px; /* Make the search bar longer */
  border: 1px solid black; /* Add black border */
  padding: 10px;
  border-radius: 5px;
}



.cartModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.cartContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  background: #F56600;
  border: none;
  cursor: pointer;
}

.cartTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.cartItems {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.checkoutButton {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  background-color: #28a745; /* Green color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.checkoutButton:disabled {
  background-color: #ccc; /* Gray color when disabled */
  cursor: not-allowed;
}

.cartModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


.cartModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.cartContent {
  background-color: #fff;
  padding: 20px;
  color: var(--content-foreground);
  border-radius: 8px;
  background-color: var(--content-background);
  color: var(--foreground);
  max-width: 400px;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  background: var(--theme-orange);
  border: none;
  cursor: pointer;
}

.cartTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  color: var(--foreground);
}

.cartItems {
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--content-background);
  color: var(--foreground);
  margin-bottom: 15px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.checkoutButton {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  background-color: #28a745; /* Green color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.checkoutButton:disabled {
  background-color: #ccc; /* Gray color when disabled */
  cursor: not-allowed;
}


.donationInput {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.donationInput:focus {
  border-color: #007acc; /* Highlight color on focus */
  box-shadow: 0 0 5px rgba(0, 122, 204, 0.3);
}

.donationInput::placeholder {
  color: #888;
  opacity: 0.8;
}

/* Main Layout */
.contentContainer {

  background: linear-gradient(to right, var(--theme-purple), #ffffff 50%, #ffffff 50%, var(--theme-purple));

}

.viewCartButton {
  background-color: var(--theme-orange);
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: 20px;
}

.viewCartButton:hover {
  background-color: var(--theme-purple);
}

.header2 {
  font-size: 1rem;
  margin: 10px 0;
  color: black;
  }

.header3 {
  font-size: 1.8rem;
  margin: 10px 0;
  color: var(--foreground);
  }

  .charityHeader {
    font-size: 1.8rem;
    margin: 10px 0;
    color: black;
    }

    .sponsorSettings {
      background-color: #f9f9f9;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .settingSection {
      margin-bottom: 20px;
    }
    
    .header3 {
      font-size: 1.5em;
      margin-bottom: 10px;
      color: black;
    }
    
    .checkboxGroup {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    
    .checkboxLabel {
      display: flex;
      align-items: center;
      gap: 5px;
      color: black;
      font-size: 1em;
    }
    
    .checkboxInput {
      margin-right: 10px;
    }
    
    .toggleLabel {
      display: flex;
      align-items: center;
      gap: 10px;
      color: black;
    }
    
    .toggleInput {
      transform: scale(1.2);
      margin-right: 10px;
    }
    
    .toggleText {
      font-size: 1.1em;
    }
    
    .saveButton {
      background-color: var(--theme-orange);
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 1em;
      margin-top: 10px;
    }
    
    .saveButton:hover {
      background-color: var(--theme-purple);
    }
    
    .popup {
      position: fixed;
      top: 10%;
      left: 50%;
      transform: translateX(-50%); /* Only translate horizontally */
      background-color: rgb(154, 255, 154);
      color: black;
      padding: 20px 30px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      z-index: 500;
      animation: fadeInOut 2s ease;
      text-align: center;
      opacity: 0.9;
  }
  
  @keyframes fadeInOut {
      0% {
          opacity: 0;
      }
      10% {
          opacity: 1;
      }
      90% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }
  